# 리스트와 반복문 익히기

In [ ]:
print(input('ID: ')+'님, 가입을 환영합니다')

ID: test
test님, 가입을 환영합니다

In [ ]:
for i in [1, 2, 3, 4, 5]:
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
for a in range(1, 20):
  print(a, "times")

1 times
2 times
3 times
4 times
5 times
6 times
7 times
8 times
9 times
10 times
11 times
12 times
13 times
14 times
15 times
16 times
17 times
18 times
19 times

In [ ]:
res=0
for i in range(1, 51):
  res+=i
print(res)

1275

In [ ]:
res=1
for i in range(1, 51):
  res*=i
print(res)

30414093201713378043612608166064768844377641568960512000000000000

In [ ]:
num=int(input('단: '))
for i in range(1, 10):
  print(num, '×', i, '=', num*i)

단: 4
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
4 × 6 = 24
4 × 7 = 28
4 × 8 = 32
4 × 9 = 36

In [ ]:
abc=[1, 2, 3, 4, 5]
print(type(abc), abc, len(abc))

<class 'list'> [1, 2, 3, 4, 5] 5

In [ ]:
spe=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print('3월 지출 변경 전', spe)
spe[2]+=10
print('3월 지출 변경 후', spe)

3월 지출 변경 전 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
3월 지출 변경 후 [1, 2, 13, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
food=[]
food.append("고구마")
food.append("오리고기")
food.append("호랑이")
food

['고구마', '오리고기', '호랑이']