# 데이터 수집 방법
####■ 각종 공공데이터개방 포털
####■ 민간 데이터 제공 사이트
#####1. 네이버 데이터랩
#####2. 구글트렌드
#####3. SomeTrend
#####4. 빅카인즈
#####5. 구글 Books
#####6. N-gram
#####7. 네이버뉴스라이브러리
#####8. 워드클라우드
#####9. 구글 Public Data

Numpy: 과학 연산을 위한 파이썬 핵심 라이브러리. 고성능 다차원 배열과 배열을 처리하는 다양한 함수와 툴을 제공함

Q.csv 파일의  내용을 한 줄씩 읽어서 저장하고 출력하는 코드 작성

In [ ]:
with open('/content/passby_data.CSV') as f:
  csv_data=[]
  for r in f.readlines():
    csv_data.append(r.split(','))

for row in csv_data:
  print(row)
print(csv_data[0][0])
print(csv_data[1][0])
print(csv_data[6][0])

['num', 'wnum', 'ynum\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['7', '5', '6\n']
['4', '1', '3\n']
['20', '1', '16\n']
['22', '0', '16\n']
['17', '4', '16\n']
['5', '1', '5\n']
['13', '5', '13\n']
['19', '11', '18\n']
['9', '5', '1\n']
['14', '10', '4\n']
['18', '16', '4\n']
['15', '13', '2\n']
['13', '5', '10\n']
['18', '13', '14\n']
['16', '16', '13\n']
['8', '5', '7\n']
['10', '8', '7\n']
['10', '8', '10\n']
['4', '0', '3\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['2', '1', '2\n']
['3', '1', '3\n']
['16', '4', '12\n']
['22', '22', '18\n']
['12', '4', '11\n']
['4', '4', '3\n']
['27', '19', '25\n']
['22', '15', '20\n']
['8', '5', '1\n']
['14', '13', '0\n']
['20', '14', '2\n']
['17', '13', '2\n']
['10', '8', '10\n']
['16', '8', '16\n']
['23', '3', '20\n']
['18', '7', '17\n']
['6', '6', '6\n']
['12', '1', '11\n']
['4', '1', '3\n']
['3', '0', '3\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['3', '2', '3\n']
['2', '0', '2\n']
['19', '3', '14\n']
['24', '7', '17\n']
['10', '7', '10\n']
['2', '2', '2\n']
['23', '3', '17\n']
['12', '0', '12\n']
['8', '1', '1\n']
['18', '16', '7\n']
['22', '21', '8\n']
['13', '13', '4\n']
['8', '1', '8\n']
['22', '6', '18\n']
['18', '10', '13\n']
['13', '11', '12\n']
['8', '3', '8\n']
['4', '1', '3\n']
['5', '5', '5\n']
['1', '1', '1\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['3', '0', '3\n']
['3', '3', '3\n']
['16', '4', '13\n']
['23', '17', '18\n']
['15', '7', '14\n']
['3', '1', '3\n']
['22', '2', '20\n']
['16', '10', '14\n']
['6', '1', '1\n']
['10', '8', '2\n']
['11', '8', '3\n']
['8', '8', '0\n']
['8', '3', '8\n']
['20', '8', '17\n']
['21', '4', '18\n']
['17', '3', '17\n']
['5', '2', '5\n']
['8', '8', '7\n']
['7', '6', '5\n']
['3', '0', '3\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['3', '2', '3\n']
['3', '2', '3\n']
['17', '7', '16\n']
['24', '8', '18\n']
['12', '5', '11\n']
['5', '1', '4\n']
['25', '21', '18\n']
['21', '18', '15\n']
['12', '1', '2\n']
['9', '9', '2\n']
['16', '15', '5\n']
['12', '9', '0\n']
['9', '8', '8\n']
['23', '6', '22\n']
['20', '16', '18\n']
['21', '8', '20\n']
['8', '0', '6\n']
['12', '4', '11\n']
['8', '5', '8\n']
['2', '1', '2\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['5', '4', '4\n']
['6', '3', '5\n']
['17', '6', '15\n']
['15', '8', '11\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['12', '1', '9\n']
['16', '11', '16\n']
['8', '3', '6\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['12', '12', '12\n']
['16', '5', '13\n']
['11', '1', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['7', '4', '5\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
['0', '0', '0\n']
num
0
7

In [ ]:
import numpy as np
csv_data=np.loadtxt('/content/passby_data.CSV', delimiter=',')
print(csv_data[0][0])

ValueError: ignored

In [ ]:
import numpy as np
csv_data=np.loadtxt('/content/passby_data_edited.csv', delimiter=',')
print(csv_data[0][0])

0.0

In [ ]:
import numpy as np
csv_data=np.loadtxt('/content/passby_data.CSV', delimiter=',', skiprows=1)
#첫 줄 스킵. skiprows: 줄 스킵
print(csv_data[0][0])

0.0

In [ ]:
import numpy as np
csv_data=np.loadtxt('/content/passby_data.CSV', delimiter=',', skiprows=1, dtype=np.int64)
#정수
print(csv_data[0][0])

0

## Pandas
1) 데이터 조작 및 분석을 위한 파이썬 프로그래밍 언어 용으로 작성된 소프트웨어 라이브러리<br>
2) 특히 숫자 테이블과 시계열을 조작하기 위한 데이터 구조와 연산을 제공함<br>
3) 판다스는 파이썬에서 자료 정제 및 분석을 빠르고 쉽게 할 수 있는 자료 구조와 관리 도구들을 가지고 있음<br>
###■판다스는 
1) 수치 해석 도구들인 NumPy, SciPy 및 <br>
2) 자료 분석 라이브러리인 statsmodels, scikit-learn과 <br>
3) 시각화 도구인 matplotlib들과 함께 사용된다. 
####■ 판다스는 NumPy에서 사용되는 배열 기반 연산과 for 문 없이 계산하는 벡터화 계산을 기반으로 한다. 
####■ 넘파이와 판다스의 큰 차이점: 넘파이는 같은 형에 대한 배열을 주로 다루는 반면 판다스는 이질적인 자료형을 다루는 것에 더 적합하다는 것.

In [ ]:
import pandas as pd

csvData=pd.read_csv('/content/passby_data.CSV', header=None)

print(csvData[0][0])
print(csvData[1][0])
print(csvData[2][0])
print(csvData[2][1])

print(csvData)

num
wnum
ynum
0
       0     1     2
0    num  wnum  ynum
1      0     0     0
2      0     0     0
3      0     0     0
4      0     0     0
..   ...   ...   ...
164    0     0     0
165    0     0     0
166    0     0     0
167    0     0     0
168    0     0     0

[169 rows x 3 columns]

In [ ]:
csvData.head()

     0     1     2
0  num  wnum  ynum
1    0     0     0
2    0     0     0
3    0     0     0
4    0     0     0

In [ ]:
csvData.tail(20)

      0   1   2
149   0   0   0
150   0   0   0
151   0   0   0
152   0   0   0
153   0   0   0
154   0   0   0
155   0   0   0
156  12  12  12
157  16   5  13
158  11   1   0
159   0   0   0
160   0   0   0
161   0   0   0
162   0   0   0
163   7   4   5
164   0   0   0
165   0   0   0
166   0   0   0
167   0   0   0
168   0   0   0

In [ ]:
import pandas as pd

csvData=pd.read_csv('/content/passby_data.CSV', header=0)

print(csvData['num'][0])
print(csvData['wnum'][1])
print(csvData['num'][2])
print(csvData['ynum'][2])

print(csvData)

0
0
0
0
     num  wnum  ynum
0      0     0     0
1      0     0     0
2      0     0     0
3      0     0     0
4      0     0     0
..   ...   ...   ...
163    0     0     0
164    0     0     0
165    0     0     0
166    0     0     0
167    0     0     0

[168 rows x 3 columns]

In [ ]:
csvData.head()

   num  wnum  ynum
0    0     0     0
1    0     0     0
2    0     0     0
3    0     0     0
4    0     0     0

In [ ]:
csvData.tail(10)

     num  wnum  ynum
158    0     0     0
159    0     0     0
160    0     0     0
161    0     0     0
162    7     4     5
163    0     0     0
164    0     0     0
165    0     0     0
166    0     0     0
167    0     0     0

In [ ]:
type(csvData)

pandas.core.frame.DataFrame

In [ ]:
csvData['num'][9]

17

#### TIP: 판다스를 활용해 csv 파일의 데이터를 읽어서 저장할 경우, 변수명 csv_data보다 데이터프레임이라는 의미로 df를 더 많이 사용함<br>
df=pd.read_csv('/content/passby_data.csv', header=None)<br>
df.head(20)<br>
df.tail(20)
#### 참고: 데이터사이언스 스쿨 https://datascienceschool.net/

In [ ]:
mid_scores = [10, 20, 30]
final_scores = [70, 80, 90]